* {
  margin: 0px;
  padding: 0px;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(329deg, #33D453, #335CD4);
}
.relogio {
  background-color: #09E7CF;
  width: 50%;
  height: 15%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 30px #09E7CF;
}
span {
  background-color: #33D4C3;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}
