@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    background-image: url("fundo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: corver;
    font-family: "Teachers", Arial, Helvetica, sans-serif;
    text-align: center;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    background-image: linear-gradient(120deg, #ECDE1A, #A89E13);
    border-radius: 10px;
    padding: 10px;
    height: 400px;


}
section> h1 {
    color: white;
    text-align: center;

}
section> p {
    color: white;
    margin: 0px 10px 15px 10px ;
    font-weight: 500;
    text-align: center;

}
iframe {
    background-image: linear-gradient(90deg, #F59D1F, #A86B16);
    border: 2px solid black;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #865611; 
}
.iframe-container > iframe:hover {
    height: 180px;
    transition: height 2s;
}
input {
    background-color: #CAA900;
    border: 2px solid #867000;
    margin: 15px;
    border-radius: 2px;
}
button {
    background-color: #274BA8;
    color: white;
    font-weight: bolder;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
}
button:hover {
    background-color: #15295C;
    transition: background-color 0.4s;
}
#button-2 {
    display: none;
    background-color: #A86B16;
    margin: 10px ;
    text-align: left;
    padding: 5px 10px;
    font-size: 15px;
}
#iframe-2 {
    display: none;
}
